<h1>New Image</h1>
<form action="/galleries/<%= @gallery.id %>/images/new" method="POST">
  <div><input type="hidden" name="image[gallery_id]" value="<%= @gallery.id %>"></div>
  <div>
    <label>Image Name</label>
    <input type="text" name="image[name]"/>
  </div>
  <div>
  <label>Image Description</label>
  <input type="text" name="image[description]">
  </div>
  <div>
    <label>Image URL</label>
    <input type="text" name="image[url]" >
  </div>
  <input type="submit" value="Create Image"/>
  </form>
